.character-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    min-height: 100vh;
}
.character-list li {
    margin: 15px;
    width: 19%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.character-list li .character-list__img {
    max-height: 250px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.character-list li > a {
    max-height: 250px;
    min-width: 250px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    border-bottom: 5px solid #FF1510;
}
.character-list li .character-list__img:hover {
    transform: scale(1.2);
}
.character-list div {
    display: flex;
    justify-content: space-between;
}
.character-list div a {
    cursor: pointer;
}
.character-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 30px auto;
    max-width: 1100px;
}
.character-header h3 {
    margin: 0;
    font-size: 22px;
    color: #B9B9B9;
    font-weight: 500;
}
.character-header a {
    display: block;
    margin-left: 30px;
}
.character-header img {
    margin-right: 10px;
}
.character-header .character-header__menu {
    display: flex;
    align-items: center;
    color: #ff1510;
    font-weight: 300;
}
.character-header .character-header__menu  div,
.character-header .character-header__menu  a{
    display: flex;
    align-items: center;
}
.character-list__like img{
    width: 23px;
}
.toggle-switch {
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 75px;
    margin-left: 30px;
}

.menu-favoritos {
    cursor: pointer;
}
@media (max-width: 700px) {
    .character-header {
        flex-direction: column;
        align-items: start;
    }
}
