
body {
    font-family: 'Work Sans', sans-serif;
    position: relative;
}
h2 {
    color:#404040;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 28px;
}
h3 {
    color:#404040;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
}
p {
    color:#8c8c8c;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 25px;
}
.structure {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 70px 80px 70px;
}
.page .disable-destak .content-result__destak {
    display: none;
}

.page-structure p > span {
    font-weight: bold;
}
.page .page-add-loading ul li a,
.page .page-add-loading ul li p,
.page .page-add-loading ul li h3{
    /* background-color: gray;
    color: transparent; */
}

